* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#page-container {
  width: 90%;
  margin: 0 auto;
}
#card-container {
  height: 500px;
  width: 100%;
  border: solid 1px green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
picture {
  height: 30%;
  width: 70%;
  background-color: rgb(237, 175, 228);
}
.user-image {
  object-fit: cover;
  height: 100%;
  background-color: aquamarine;
}


